@keyframes topToDown {
  from {
    transform: translateY(-13rem);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes topToDownSlow {
  from {
    transform: translateY(-5rem);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes downToTopSlow {
  from {
    transform: translateY(5rem);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes toRightAndSpin {
  from {
    transform: translateX(-13rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
